<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Raphael</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="bower_components/flat-ui/dist/css/flat-ui.min.css" />
  <link rel="stylesheet" href="raphael.css" />
</head>
<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Raphael</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nuovo<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" id="CreateDrugPrescription">Prescrizione farmaceutica <kbd>ctrl + F</kbd></a></li>
              <li><a href="#" id="CreateCarePrescription">Prescrizione specialistica <kbd>ctrl + E</kbd></a></li>
              <li><a href="#">Ricetta bianca <kbd>ctrl + B</kbd></a></li>
              <li><a href="#">Inserisci da modello <kbd>ctrl + M</kbd></a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Reset</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">

    <div id="PrescriptionsContainer" class="row"></div>

    <div class="help">
      <h2>Shortcut</h2>
      <p><kbd>ctrl + F</kbd> : Nuova prescrizione SSN farmaceutica</p>
      <p><kbd>ctrl + E</kbd> : Nuova prescrizione SSN specialistica</p>
      <p><kbd>ctrl + B</kbd> : Nuova ricetta bianca</p>
      <p><kbd>ctrl + M</kbd> : Ricette da modello</p>
    </div>

    <div class="help">
      <h2>Regole per prescrizione SSN farmaceutica</h2>
      <ul>
        <li>Farmaci in classe A o in classe C con deroga</li>
        <li>Massimo due confezioni per ricetta salvo eccezioni</li>
        <li>Riportare equivalenza</li>
      </ul>
    </div>

    <div class="help">
      <h2>Regole per prescrizione SSN specialistica da nomenclatore tariffario</h2>
      <ul>
        <li>Richiesto quesito diagnostico</li>
        <li>Prestazioni della stessa branca specialistica</li>
        <li>Non più di otto prestazioni, di cui al massimo tre cicli (6 con deroga). Gli eventuali
          prelievi vanno indicati in ricetta ma non contribuiscono al computo</li>
      </ul>
    </div>

  </div> <!-- /container -->

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/flat-ui/dist/js/flat-ui.min.js"></script>
  <script src="bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="bower_components/backbone.wreqr/lib/backbone.wreqr.js"></script>
  <script src="bower_components/backbone.babysitter/lib/backbone.babysitter.js"></script>
  <script src="bower_components/marionette/lib/backbone.marionette.js"></script>
  <script src="bower_components/bootbox/bootbox.js"></script>

  <script src="raphael.js"></script>

  <script>
    $(function(){
      var app = new Raphael;

      window.app = app;

      app.start({});

      $('#CreateDrugPrescription').on('click', function(){
        app.trigger('createdrug');
      });

      $('#CreateCarePrescription').on('click', function(){
        app.trigger('createcare');
      });

    });
  </script>

  <script id="DrugSearchResultItemViewTpl" type="text/template">
    <div class="drug"><span class="fui-heart icon"></span> <span class="title"><%= farmaco %></span> <span class="package"><%= farmaco_confezione %></span></div>
    <div class="molecule"><%= principio_attivo %> <span class="package"><%= principio_attivo_confezione %><span class="package"></div>
  </script>

  <script id="DrugSearchResultTpl" type="text/template">
    <div class="form-group">
      <input id="SearchDrugInput" class="form-control" type="text" placeholder="Cerca il prontuario dei farmaci">
    </div>
    <div class="wrapper"></div>
  </script>

  <script id="CareSearchResultItemViewTpl" type="text/template">
    <span class="fui-heart icon"></span> <span class="title"><%= descrizione %></span> <%= branca %>
  </script>

  <script id="CareSearchResultViewTpl" type="text/template">
    <div class="form-group">
      <input id="SearchCareInput" type="text" class="form-control" placeholder="Cerca il nomenclatore tariffario degli accertamenti" />
    </div>
    <div class="wrapper"></div>
  </script>

  <script id="PrescriptionsViewTpl" type="text/template">
    <div class="container"></div>
  </script>

  <script id="DrugPrescriptionViewTpl" type="text/template">
    <div class="row document">
      <div class="col-xs-3 patient">
        <div class="avatar">
          <img src="images/monkey.png" alt="avatar"/>
          <div class="name"><%= patient.get('firstName') %> <%= patient.get('lastName') %></div>
        </div>
        <div class="field">CF123456789W</div>
        <div class="field">10/01/2015</div>
        <div class="field">4 anni e mezzo, 25kg</div>
        <div class="field">Intollerante al cianuro</div>
      </div>
      <div class="col-xs-7 prescription prescription">
        <div class="prescription-header">
          <span class="title">Prescrizione farmaceutica #1</span>
          <label class="checkbox">
            <input type="checkbox" name="siss" data-toggle="checkbox" checked />
            SISS
          </label>
          <label class="checkbox">
            <input type="checkbox" name="dem" data-toggle="checkbox" checked />
            Dematerializzata
          </label>
        </div>
        <div class="lines"></div>
        <div class="more pull-right">
          <button class="btn btn-inverse btn-large search"><span class="fui-search icon"></span> Cerca nel prontuario <kbd>ctrl + H</kbd></button>
        </div>
      </div>

      <div class="col-xs-2">
        Più usati
        <ul class="suggestions">
          <li>Amoxina</li>
          <li>Panacef</li>
        </ul>
      </div>
    </div>

  </script>

  <script id="DrugLineViewTpl" type="text/template">
    <h2>
      <span class="item-counter">
        <span class="decrement">-</span>
        <span class="current-value">1</span>
        <span class="increment">+</span>
      </span>
      <%= drug.get('farmaco') %>
    </h2>
    <div>Sostituibile</div>
    <div>1cpr al giorno prima di pranzo</div>
  </script>

  <script id="CarePrescriptionViewTpl" type="text/template">
    <div class="row document">
      <div class="col-xs-3 patient">
        <div class="avatar">
          <img src="images/monkey.png" alt="avatar"/>
          <div class="name">Nome Cognome</div>
        </div>
        <div class="field">CF123456789W</div>
        <div class="field">10/01/2015</div>
        <div class="field">4 anni e mezzo, 25kg</div>
        <div class="field">Intollerante al cianuro</div>
      </div>
      <div class="col-xs-7 prescription prescription">
        <div class="prescription-header">
          <span class="title">Prescrizione specialistica #1</span>
          <label class="checkbox" for="siss-1">
            <input type="checkbox" id="siss-1" name="siss" data-toggle="checkbox" checked />
            SISS
          </label>
          <label class="checkbox" for="dem-1">
            <input type="checkbox" id="dem-1" name="dem" data-toggle="checkbox" checked />
            Dematerializzata
          </label>
          <div>Sospetta anemia</div>
          <div>Priorità differibile</div>
          <div>Branca specialistica ancora non specificata</div>
        </div>
        <div class="lines"></div>
        <div class="more pull-right">
          <button class="btn btn-inverse btn-large searchBtn"><span class="fui-search icon"></span> Cerca nel nomenclatore <kbd>ctrl + H</kbd></button>
        </div>
      </div>

      <div class="col-xs-2">
        Più usati
        <ul class="suggestions">
          <li>Ferro</li>
          <li>Transferrina</li>
        </ul>
      </div>
    </div>
  </script>

  <script id="CareLineViewTpl" type="text/template">
    <h2>
      <span class="item-counter">
        <span class="decrement">-</span>
        <span class="current-value">1</span>
        <span class="increment">+</span>
      </span>
      <%= care.get('descrizione') %>
    </h2>
  </script>

</body>
</html>
